@using PF_Ingenieria_Software_II.Services
@using Microsoft.AspNetCore.Identity;
@using PF_Ingenieria_Software_II.Models
@{
    Usuario usuario = Model;
    var rolService = ViewBag.RolService as RolService;
    string nombre_rol = string.Empty;
    if (rolService != null)
    {
        nombre_rol = rolService.FindRol(Model.RolId).Nombre;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Polideportivo - @ViewData["Title"]</title>

    <link rel="shortcut icon" href="~/assets/img/favicon.png">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
                                 
    <link rel="stylesheet" href="~/assets/plugins/feather/feather.css">
                                 
    <link rel="stylesheet" href="~/assets/plugins/icons/flags/flags.css">
                                 
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

                                 
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a class="logo">
                    POLIDEPORTIVO
                </a>
                <a class="logo logo-small">
                    <img src="~/assets/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>

            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Buscar aquí">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">
                <li class="nav-item dropdown noti-dropdown me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <img src="~/assets/img/icons/header-icon-05.svg" alt="">
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" 
                                                src="~/assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-11.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/assets/img/profiles/avatar-01.jpg" width="31" alt="Soeng Souy">
                            <div class="user-text">
                                <h6>@Model.NombreUsuario</h6>
                                <p class="text-muted mb-0">@nombre_rol</p>
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="~/assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>@Model.Nombres 
                                    @Model.ApellidoPaterno
                                </h6>
                                <p class="text-muted mb-0"></p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="@Url.Action("Perfil", "Usuario", usuario)">Mi Perfil</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="LogOut">Salir</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Menu Principal</span>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="feather-grid"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="index.html">Admin Dashboard</a></li>
                                <li><a href="teacher-dashboard.html">Teacher Dashboard</a></li>
                                <li><a href="student-dashboard.html">Student Dashboard</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="@Url.Action("Perfil", "Usuario", usuario)"><i class="fas fa-book-reader"></i> <span> Mi perfil</span></a>
                        </li>

                        @if (User.IsInRole("Administrador") || User.IsInRole("Alumno"))
                        {
                            <li class="submenu">
                                <a href="#"><i class="fas fa-graduation-cap"></i> <span> Site Matricula</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="@Url.Action("SiteMatricula", "Home", usuario)">Matricula</a></li>
                                    <li><a href="student-details.html">Cursos Disponibles</a></li>
                                </ul>
                            </li>
                        }
                        <li class="submenu">
                            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Cursos</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="teachers.html">Teacher List</a></li>
                                <li><a href="teacher-details.html">Teacher View</a></li>
                                <li><a href="add-teacher.html">Teacher Add</a></li>
                                <li><a href="edit-teacher.html">Teacher Edit</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="@Url.Action("Perfil", "Usuario", usuario)"><i class="fas fa-building"></i> <span> Horario</span></a>
                        </li>

                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="submenu">
                                <a href="#"><i class="fas fa-book-reader"></i> <span> Disciplinas</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="subjects.html">Subject List</a></li>
                                    <li><a href="add-subject.html">Subject Add</a></li>
                                    <li><a href="edit-subject.html">Subject Edit</a></li>
                                </ul>
                            </li>                       
                        }
                        
                        @if (User.IsInRole("Administrador"))
                        {
                            <li class="submenu">
                                <a href="#"><i class="fas fa-clipboard"></i> <span> Bloques</span> <span class="menu-arrow"></span></a>
                                <ul>
                                    <li><a href="invoices.html">Invoices List</a></li>
                                    <li><a href="invoice-grid.html">Invoices Grid</a></li>
                                    <li><a href="add-invoice.html">Add Invoices</a></li>
                                    <li><a href="edit-invoice.html">Edit Invoices</a></li>
                                    <li><a href="view-invoice.html">Invoices Details</a></li>
                                    <li><a href="invoices-settings.html">Invoices Settings</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>

    <script data-cfasync="false" src="~/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="~/assets/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-loading-overlay/2.1.7/loadingoverlay.min.js"></script>

</body>
</html>
