@model IEnumerable<PF_Ingenieria_Software_II.Models.Bloque>
@using PF_Ingenieria_Software_II.Services
@using PF_Ingenieria_Software_II.Interfaces
@{
    ViewData["Title"] = "Bloques";
    var tutorService = ViewBag.TutorService as TutorService;
    var disciplinaService = ViewBag.DisciplinaService as DisciplinaService;
    var userService = ViewBag.UserService as UsuarioService;
}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Bloques</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                        <li class="breadcrumb-item active">Bloques</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="student-group-form">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <input type="text" id="myInput" class="form-control" placeholder="Buscar ...">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="search-student-btn">
                        <button type="button" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">

                        <div class="page-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="page-title">Bloques</h3>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">

                                <thead class="student-thread">
                                    <tr>
                                        <th>Id Bloque</th>
                                        <th>Nombre</th>
                                        <th>Disciplina</th>
                                        <th>Tutor</th>
                                        <th>Ver Mas</th>
                                    </tr>
                                </thead>

                                <tbody id="myTable">
                                    @foreach (var item in Model)
                                    {
                                        var tutor = tutorService.FindTutorTutorId(item.TutorId);

                                        var usuario = userService.FindUsuario(tutor.UsuarioId);
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Nombre</td>
                                            <th>@disciplinaService.FindDisciplina(item.DisciplinaId).Nombre</th>
                                            <th>@($"{usuario.ApellidoPaterno} {usuario.Nombres}")</th>
                                            <td>
                                                <div class="modal fade" id="centermodal-@item.Id" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="myCenterModalLabel">Bloque: @item.Nombre</h4>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h5>Ubicación</h5>
                                                                <p>@item.Ubicacion</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <a data-bs-toggle="modal" data-bs-target="#centermodal-@item.Id" class="btn btn-sm bg-success-light me-2">
                                                        <i class="feather-eye"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="@Url.Action("Create", "Bloque")" class="btn btn-primary">Registrar Nuevo Bloque</a>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

